<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>리뷰 게시판</title>

    <link href="/css/review/list.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script> <!-- jQuery 추가 -->
</head>

<div class="form-container" layout:fragment="content">
    <form enctype="multipart/form-data" method="post" th:action="@{/review}" th:object="${newReview}">
        <h1 class="mt-4">리뷰 게시판</h1>
        <hr>
<!--        <a class="btn btn-outline-pink col-md-12" href="/review/register">리뷰쓰러가기</a>-->
        <br>
        <br>
        <!-- 리뷰 목록 -->
        <div class="row" id="reviewList">
            <div class="col-md-12" th:each="review : ${reviews}">
                <div class="card">
                    <div class="card-body">
                        <div class="review-content">
                            <img alt="리뷰 이미지" class="review-img" th:if="${review.RE_IMG}"
                                 th:src="@{'/image/'+${review.RE_IMG}}" onclick="window.open(this.src)">
                            <div class="review-text">
                                <h5 class="card-title" th:text="${review.RE_WRITER}">작성자</h5>
                                <p class="card-text" th:text="${review.RE_CONTENT}">내용</p>
                                <div class="review-meta">
                                    <span th:text="${review.RE_DATE}">작성일</span>
                                    <a class="card-link" th:href="@{/review/{reId}(reId=${review.RE_ID})}">상세보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button id="loadMore" class="btn btn-outline-pink col-md-12">더보기</button>
        </div><br>

        <script th:inline="javascript">
            $(document).ready(function() {
                var size = 5; // 한 번에 보여줄 리뷰 개수

                // 초기에는 첫 번째 페이지의 리뷰만 보이도록 설정합니다.
                $('#reviewList .col-md-12').slice(0, size).show();

                // 숨겨진 리뷰를 초기화합니다.
                $('#reviewList .col-md-12').slice(size).hide();

                // 버튼 클릭 시 콘솔에 메시지 출력
                $('#loadMore').on('click', function(e) {
                    e.preventDefault();
                    console.log("더보기 버튼 클릭됨!");

                    // 다음 페이지의 리뷰를 보여줍니다.
                    $('#reviewList .col-md-12:hidden').slice(0, size).slideDown();

                    // 더 이상 보여줄 리뷰가 없으면 "더 보기" 버튼을 숨깁니다.
                    if ($('#reviewList .col-md-12:hidden').length === 0) {
                        $('#loadMore').fadeOut('slow');
                    }
                });
            });
        </script>
    </form>
</div>
</html>
