<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <title>QnA확인</title>


    <link href="/css/managerQna/list.css" rel="stylesheet">
</head>
<div class="form-container" layout:fragment="content">
    <form>
        <h1>✨QnA게시판✨</h1>
        <hr>
        <table class="table">
            <thead>
            <tr>
<!--                <th scope="col">번호</th>-->
                <th scope="col">문의유형</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="manager : ${managerList.dtoList}">
<!--                <td th:text="${manager.Q_NO}">번호</td>-->
                <td th:text="${manager.Q_BOX}">유형</td>
                <td><a th:href="@{/managerQna/read(Q_NO=${manager.Q_NO})}" th:text="${manager.Q_TITLE}"></a></td>
                <td th:text="${manager.USER_NIK}">작성자</td>
                <td th:text="${manager.Q_DATE}">작성일</td>
            </tr>
            </tbody>
        </table>

<!--        페이지네이션-->

        <div class="float-end">
            <ul class="pagination flex-wrap">
                <li class="page-item" th:if="${responseDTO.prev}">
                    <a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
                </li>
                <th:block th:each="i:${#numbers.sequence(responseDTO.start,responseDTO.end)}">
                    <li th:class="${responseDTO.page==i}?'page-item active':'page-item'">
                        <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${responseDTO.next}">
                    <a class="page-link" th:data-num="${responseDTO.end +1}">Next</a>
                </li>
            </ul>
        </div>



<!--        검색기능-->
        <div class="input-group mb-3">
            <div>
                <select aria-label="Default select example" class="form-select" id="select" name="Q_BOX">
                    <option value="">선택하세요</option>
                    <option th:selected="${pageRequestDTO.Q_BOX == '예약, 확인'}" value="예약, 확인">예약, 확인</option>
                    <option th:selected="${pageRequestDTO.Q_BOX == '환불, 취소'}" value="환불, 취소">환불, 취소</option>
                    <option th:selected="${pageRequestDTO.Q_BOX == '본인인증'}" value="본인인증">본인인증</option>
                    <option th:selected="${pageRequestDTO.Q_BOX == '기타'}" value="기타">기타</option>
                    <option th:selected="${pageRequestDTO.Q_BOX == '비회원'}" value="비회원">비회원 문의</option>
                </select>
            </div>
            <select class="form-select" name="type">
                <option th:selected="${pageRequestDTO.type == 't'}" value="t">제목</option>
                <option th:selected="${pageRequestDTO.type == 'c'}" value="c">내용</option>
                <option th:selected="${pageRequestDTO.type == 'w'}" value="w">작성자</option>
                <option th:selected="${pageRequestDTO.type == 'tc'}" value="tc">제목+내용</option>
            </select>
            <input class="form-control" name="keyword" placeholder="검색" th:value="${pageRequestDTO.keyword}"
                   type="text">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary searchBtn" type="submit">검색</button>
            </div>
        </div>
    </form>
</div>

<script  layout:fragment="script">
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()
        const target = e.target
        if (target.tagName !== 'A') {
            return
        }
        const num = target.getAttribute("data-num")
        const formObj = document.querySelector("form")
        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
        formObj.submit()
    }, false)
</script>

</html>
