header {
    background-color: #EAE4DD;
    color: #000000;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    min-width: 150px;
    /*overflow: hidden;*/
}
header img {
    max-width: 250px;
    height: auto;
    margin-right: 40px;
}
header div {
    text-align: center;
}
nav {
    background-color: #EAE4DD;
    color: #000000;
    text-align: center;
    padding: 5px 0;
    margin-left: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    position: absolute;
}
nav h3 {
    display: flex; /* Flexbox 사용 */
    gap: 30px; /* 여백 조정 */
}
nav a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 40px; /* 변경: 좌우에 여백 추가 */
}
nav button {
    background: none;
    border: none;
    cursor: pointer;

}
section {
    padding: 20px 0;
}

.auth-buttons {
    position: relative;
}

.profile-button {
    background: none;
    border: none;
    cursor: pointer;
}

.profile-button img {
    right: 30px;
    width: 30px;
}
.host_back {
    background-color: rgba(72, 72, 72, 1);
    width: 160px;
    height: 50%;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.host_back {
    background-color: rgba(72, 72, 72, 1);
    width: 160px;
    height: 50%;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.host_text {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    letter-spacing: 0;
}
.host_text {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    letter-spacing: 0;
}
.host_back {
    background-color: #EEA550;
    width: 160px;
    height: 50%;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.host_text {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    letter-spacing: 0;
}
