<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <title>공지사항</title>

    <link href="/css/notice/list.css" rel="stylesheet">
</head>
<div class="form-container" layout:fragment="content">
    <form>
        <h1>공지사항</h1>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <!-- <th scope="col">번호</th> -->
                <th scope="col">제목</th>
                <th scope="col">작성일</th>
                <th scope="col">작성자</th>
                <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="notice : ${list}">
                <!-- <td th:text="${notice.N_NO}">번호</td> -->
                <td><a th:href="@{/notice/read(N_NO=${notice.N_NO})}" th:text="${notice.N_TITLE}"></a></td>
                <td th:text="${notice.N_DATE}">작성일</td>
                <td th:text="${notice.USER_NIK}">작성자</td> <!-- USER_NIK 필드를 추가 -->
                <td th:text="${notice.N_VIEW}">조회수</td>
            </tr>
            </tbody>
        </table>

        <div class="float-end">
            <ul class="pagination flex-wrap">
                <li class="page-item" th:if="${responseDTO.prev}">
                    <a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
                </li>
                <th:block th:each="i:${#numbers.sequence(responseDTO.start,responseDTO.end)}">
                    <li th:class="${responseDTO.page==i}?'page-item active':'page-item'">
                        <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${responseDTO.next}">
                    <a class="page-link" th:data-num="${responseDTO.end +1}">Next</a>
                </li>
            </ul>
        </div>

        <!--        검색기능-->
        <div class="input-group mb-3">
            <select class="form-select" name="type">
                <option th:selected="${pageRequestDTO.type == 't'}" value="t">제목</option>
                <option th:selected="${pageRequestDTO.type == 'c'}" value="c">내용</option>
                <option th:selected="${pageRequestDTO.type == 'w'}" value="w">작성자</option>
                <option th:selected="${pageRequestDTO.type == 'tc'}" value="tc">제목+내용</option>
            </select>
            <input class="form-control" name="keyword" placeholder="검색" th:value="${pageRequestDTO.keyword}"
                   type="text">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary searchBtn" type="submit">검색</button>

                <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-outline-secondary"
                   href="/notice/register">글쓰기</a>
                <a sec:authorize="hasRole('ROLE_USER')" class="btn btn-outline-secondary" href="#">글쓰기</a>

            </div>
        </div>
    </form>
</div>

<script layout:fragment="script">
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()
        const target = e.target
        if (target.tagName !== 'A') {
            return
        }
        const num = target.getAttribute("data-num")
        const formObj = document.querySelector("form")
        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
        formObj.submit()
    }, false)
</script>
</html>
