<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Arcana</title>
</head>
<body>
<form th:action="@{/notice/modify}" method="post">
<div>
    <span>번호</span>
    <input name="N_NO" th:value="${notice.N_NO}" type="text" readonly>
</div>
<div>
    <span>제목</span>
    <input name="N_TITLE" th:value="${notice.N_TITLE}" type="text">
</div>
<div>
    <span>내용</span>
    <textarea name="N_CONTENT" rows="5">[[${notice.N_CONTENT}]]</textarea>
</div>
<div>
    <span>작성자</span>
    <input name="N_WRITER" th:value="${notice.N_WRITER}" type="text" readonly>
</div>
<div>
    <a class="btn btn-outline-secondary" th:href="@{/notice/read(N_NO=${notice.N_NO})}">뒤로가기</a>
    <button type="submit" class="btn btn-primary modifyBtn">수정</button>
</div>
</form>
</body>
</html>