<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Hotel Arcana</title>


    <link rel="stylesheet" href="/css/notice/read.css">
</head>
<div class="form-container" layout:fragment="content">
    <form name="f2" th:action="@{/notice/modify}" method="post">
        <h1>📌공지사항 수정📌</h1>
        <hr>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label" for="title">제목</label>
            </div>
            <div class="mb-3">
                <input class="form-control" id="title" name="N_TITLE" th:value="${notice.N_TITLE}" type="text">
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label" for="writer">작성자</label>
            </div>
            <div class="mb-3">
                <input class="form-control" id="writer" name="N_WRITER" readonly th:value="${notice.N_WRITER}"
                       type="text">
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label" for="content">내용</label>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="content" name="N_CONTENT"
                          rows="10">[[${notice.N_CONTENT}]]</textarea>
            </div>
        </div>
        <input type="hidden" name="N_NO" th:value="${notice.N_NO}">
        <a class="btn btn-outline-secondary" th:href="@{/notice/read(N_NO=${notice.N_NO})}">뒤로가기</a>
        <button class="btn btn-outline-success" id="modifyBtn" type="button">수정</button>

        <script>
            document.getElementById("modifyBtn").addEventListener("click", function (e) {
                e.preventDefault()
                e.stopPropagation()
                if (confirm("수정하시겠습니까?")) {
                    let f2 = document.f2
                    f2.action = "/notice/modify"
                    f2.submit();
                }
            }, false)
        </script>
    </form>
</div>
</body>

</html>