<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Arcana</title>
</head>
<body>
<h1>👑공지사항 쓰기👑</h1>
<form action="/notice/register" method="post">
    <div>
        <span>제목</span>
        <input name="N_TITLE" placeholder="제목" type="text">
    </div>
<!--    <div>-->
<!--        <span>작성일</span>-->
<!--        <input name="N_DATE" type="date">-->
<!--    </div>-->
    <div>
        <span>내용</span>
        <input name="N_CONTENT" placeholder="내용을 입력하세요" type="text">
    </div>
    <div>
        <span>작성자</span>
        <input name="N_WRITER" placeholder="이름" type="text">
    </div>
    <div>
        <div>
            <button class="btn btn-primary" type="submit">등록</button>
            <a class="btn btn-outline-secondary" href="/notice/list">뒤로가기</a>
        </div>
    </div>
</form>
</body>
</html>
