<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf=extras=springsecurity4"
      layout:decorate="~{/layout/layout.html}">
<div id="container" layout:fragment="content">
    <link rel="stylesheet" href="/css/main.css">
        <div class="container imgDiv">
            <div class="image-box">
                <div class="slide2 fade2">
                    <img class="main-page-img" src="/img/mainPhoto.jpg" alt="Hotel Image 1">
                </div>
                <div class="slide2 fade2">
                    <img class="main-page-img" src="/img/POOLB.jpg" alt="Hotel Image 1">
                </div>
                <div class="slide2 fade2">
                    <img class="main-page-img" src="/img/main.jpg" alt="Hotel Image 1">
                </div>
                <a class="prev" onclick="plusSlides(-1)" >&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    <section class="you-die">
        <h2>CHECKED ROOM</h2>
        <div class="room-flex">
            <!-- Standard Room -->
            <div class="room">
                <a th:href="@{'/room/' + ${STANDARD.ROOM_NAME}}">
                    <img th:src="@{'/img/' + ${STANDARD.ROOM_NAME} + '.jpg'}" alt="Room Image">
                </a>
                <p class="H_nickname" th:text="${STANDARD.ROOM_NAME}"></p>
                <p class="H_service">더블침대 1개 / 도시 전망</p>
<!--                <p th:text="'₩' + ${VVIP.ROOM_PRICE} + '/1박'"></p>-->
            </div>

            <!-- Deluxe Room -->
            <div class="room">
                <a th:href="@{'/room/' + ${DELUXE.ROOM_NAME}}">
                    <img th:src="@{'/img/' + ${DELUXE.ROOM_NAME} + '.jpg'}" alt="Room Image">
                </a>
                <p class="H_nickname" th:text="${DELUXE.ROOM_NAME}"></p>
                <p class="H_service">더블침대 2개 / 도시 전망</p>

            </div>

            <!-- Superior Room -->
            <div class="room">
                <a th:href="@{'/room/' + ${SUPERIOR.ROOM_NAME}}">
                    <img th:src="@{'/img/' + ${SUPERIOR.ROOM_NAME} + '.jpg'}" alt="Room Image">
                </a>
                <p class="H_nickname" th:text="${SUPERIOR.ROOM_NAME}"></p>
                <p class="H_service">퀸침대 1개 / 도시 전망</p>

            </div>
        </div>
    </section>
    <section class="you-die">
        <div class="room-flex">

            <!-- VIP Room -->
            <div class="room">
                <a th:href="@{'/room/' + ${VIP.ROOM_NAME}}">
                    <img th:src="@{'/img/' + ${VIP.ROOM_NAME} + '.jpg'}" alt="Room Image">
                </a>
                <p class="H_nickname" th:text="${VIP.ROOM_NAME}"></p>
                <p class="H_service">퀸침대 2개 / 바다 전망</p>
            </div>

            <!-- VVIP Room -->
            <div class="room">
                <a th:href="@{'/room/' + ${VVIP.ROOM_NAME}}">
                    <img th:src="@{'/img/' + ${VVIP.ROOM_NAME} + '.jpg'}" alt="Room Image">
                </a>
                <p class="H_nickname" th:text="${VVIP.ROOM_NAME}"></p>
                <p class="H_service">퀸침대 2개 / 바다 전망</p>
            </div>

            <!-- Suite Room -->
            <div class="room">
                <a th:href="@{'/room/' + ${SUITE.ROOM_NAME}}">
                    <img th:src="@{'/img/' + ${SUITE.ROOM_NAME} + '.jpg'}" alt="Room Image">
                </a>
                <p class="H_nickname" th:text="${SUITE.ROOM_NAME}"></p>
                <p class="H_service">킹침대 2개 / 바다 전망</p>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/scripts.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">
</script>

</html>
