<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<div id="container" layout:fragment="content">
    <link rel="stylesheet" href="/css/managerQna/list.css">
    <div class="form-container">
        <form>
            <h1>✨QnA게시판✨</h1>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <!--                <th scope="col">번호</th>-->
                    <th scope="col">문의유형</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="manager : ${managerList}">
                    <!--                <td th:text="${manager.Q_NO}">번호</td>-->
                    <td th:text="${manager.Q_BOX}">유형</td>
                    <td><a th:href="@{/managerQna/read(Q_NO=${manager.Q_NO})}" th:text="${manager.Q_TITLE}"></a></td>
                    <td th:text="${manager.Q_USER_ID}">작성자</td>
                    <td th:text="${manager.Q_DATE}">작성일</td>
                </tr>
                </tbody>
            </table>

            <div class="input-group-append">
                <input type="search">
                <button class="btn btn-outline-secondary searchBtn" type="submit">검색</button>
                <a class="btn btn-outline-secondary" href="/memberQna/register">멤버QnA~</a>
                <!--        <a href="/managerQna/register" class="btn btn-outline-secondary" >글쓰기</a>-->
            </div>
        </form>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
</script>
</html>
