<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf=extras=springsecurity4"
      layout:decorate="~{/layout.html}">
<div id="container" layout:fragment="content">
    <link rel="stylesheet" href="/css/member.css">
        <div class="container-fluid asd">
            <div class="row">
                <div class="col-md-3 sidebar">
                    <div class="d-flex flex-column flex-shrink-0 p-3 aws" style="width: 280px;">
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item">
                                <a th:href="@{/login/memberRead/{USER_ID}(USER_ID=${memberDTO.USER_ID})}" class="nav-link active" aria-current="page">
                                    <svg class="bi pe-none me-2 hi" width="16" height="16"><use xlink:href="/login/memberRead/"/></svg>
                                    마이페이지
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-body-emphasis">
                                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#"/></svg>
                                    예약 내역 조회
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/login/memberModify/{USER_ID}(USER_ID=${memberDTO.USER_ID})}" class="nav-link link-body-emphasis">
                                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/login/memberModify/"/></svg>
                                    회원정보 수정
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/login/memberRemove/{USER_ID}(USER_ID=${memberDTO.USER_ID})}" class="nav-link link-body-emphasis">
                                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/login/memberRemove/"/></svg>
                                    회원 탈퇴
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 content">
                    <div class="container mt-3">
                        <h1>Delete Member</h1>
                        <form action="/login/memberRemove" method="post">
                            <div class="mb-3">
                                <label for="USER_ID" class="form-label">ID</label>
                                <input type="text" class="form-control" id="USER_ID" name="USER_ID" th:value="${memberDTO.USER_ID}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="USER_PW" class="form-label">비밀번호</label>
                                <input type="password" class="form-control" id="USER_PW" name="USER_PW" required>
                            </div>
                            <div class="alert alert-danger" role="alert">
                                회원을 삭제하시겠습니까? 이 작업은 되돌릴 수 없습니다.
                            </div>
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a href="/login/memberRead" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
<script layout:fragment="script" th:inline="javascript">

</script>
</html>
