.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container form {
    width: 60%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-container form .form-title {
    text-align: center;
    margin-bottom: 20px;
}

.table th, .table td {
    text-align: center;
}

 .review-card {
     margin-bottom: 20px;
 }
.review-writer {
    font-size: 0.9em;
    color: gray;
}
.review-date {
    font-size: 0.8em;
    color: gray;
}
.review-content {
    margin-top: 10px;
}

