
    <mapper namespace="com.example.hotel_arcana.mapper.UserMapper">
        <resultMap id="UserResultMap" type="com.example.hotel_arcana.dto.memberDTO">
            <id property="user_id" column="user_id" />
            <result property="user_pw" column="user_pw" />
            <result property="user_nm" column="user_nm" />
            <result property="user_adr" column="user_adr" />
            <result property="user_eml" column="user_eml" />
            <result property="user_tel" column="user_tel" />
            <result property="user_nik" column="user_nik" />


        </resultMap>

        <select id="findByuserid" parameterType="String" resultMap="UserResultMap">
            SELECT * FROM users WHERE user_id = #{user_id}
        </select>

        <insert id="insertUser" parameterType="com.example.hotel_arcana.dto.memberDTO">
            INSERT INTO users (user_id, user_pw, user_nm,user_adr,user_eml,user_tel,user_nik) VALUES (#{user_id}, #{user_pw}, #{user_nm}, #{user_adr}, #{user_eml}, #{user_tel}, #{user_nik})
        </insert>
    </mapper>
