<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.example.hotel_arcana.login.mapper.MemberMapper">
<!--        <resultMap id="UserResultMap" type="com.example.hotel_arcana.login.dto.MemberDTO">-->
<!--            <id property="USER_ID" column="USER_ID" />-->
<!--            <result property="USER_PW" column="USER_PW" />-->
<!--            <result property="USER_NM" column="USER_NM" />-->
<!--            <result property="USER_ADR" column="USER_ADR" />-->
<!--            <result property="USER_EML" column="USER_EML" />-->
<!--            <result property="USER_TEL" column="USER_TEL" />-->
<!--            <result property="USER_NIK" column="USER_NIK" />-->


<!--        </resultMap>-->

        <select id="findMemberById" parameterType="string" resultType="com.example.hotel_arcana.login.dto.MemberDTO">
            SELECT * FROM hotel_member WHERE USER_ID = #{USER_ID}
        </select>

        <insert id="insertMember" >
            INSERT INTO hotel_member (USER_ID, USER_PW, USER_NM,USER_ADR,USER_EML,USER_TEL,USER_NIK,USER_AUTH) VALUES (#{USER_ID}, #{USER_PW}, #{USER_NM}, #{USER_ADR}, #{USER_EML}, #{USER_TEL}, #{USER_NIK}, #{USER_AUTH})
        </insert>

    <select id="selectMember" resultType="com.example.hotel_arcana.login.dto.MemberDTO">
        SELECT * FROM hotel_member WHERE USER_ID = #{USER_ID}
    </select>
    <update id="updateMember">
        UPDATE hotel_member set
                                USER_NM =#{USER_NM},
                                USER_PW=#{USER_PW},
                                USER_ADR=#{USER_ADR},
                                USER_EML=#{USER_EML},
                                USER_TEL=#{USER_TEL},
                                USER_NIK=#{USER_NIK}

        WHERE
            USER_ID=#{USER_ID}
    </update>
    </mapper>
