<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel_arcana.notice.mapper.NoticeMapper">

<!--    현재시간-->
    <select id="getTime" resultType="string">
        SELECT now()
    </select>

<!--    게시판 목록-->
    <select id="selectAll" resultType="com.example.hotel_arcana.notice.dto.NoticeDTO">
        SELECT * FROM hotel_notice ORDER BY N_NO DESC
    </select>

<!--    게시글 작성-->
    <insert id="insert">
        INSERT INTO hotel_notice (N_TITLE, N_CONTENT, N_WRITER, N_VIEW)
        VALUES (#{N_TITLE}, #{N_CONTENT}, #{N_WRITER}, #{N_VIEW})
    </insert>

<!--    게시글 보기-->
    <select id="selectOne" resultType="com.example.hotel_arcana.notice.dto.NoticeDTO">
        SELECT * FROM hotel_notice WHERE N_NO = #{N_NO}
    </select>

</mapper>