<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf=extras=springsecurity4"
      layout:decorate="~{/layout/layout.html}">

<div id="container" layout:fragment="content">
    <h1>예약확인하기</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"><h4>체크인날짜</h4></th>
            <th scope="col"><h4>체크아웃날짜</h4></th>
            <th scope="col"><h4>인원수</h4></th>
            <th scope="col"><h4>방번호</h4></th>
            <th scope="col"><h4>방종류</h4></th>
            <th scope="col"><h4>예약변경</h4></th>
            <th scope="col"><h4>리뷰쓰기</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${list}">
            <td><input type="hidden" th:value="${reservation.RV_ID}" /></td>
            <td th:text="${reservation.START_DATE}"></td>
            <td th:text="${reservation.END_DATE}">체크아웃 날짜</td>
            <td th:text="${reservation.TOTAL_NUM}">인원수</td>
            <td th:text="${reservation.RV_ROOM_NUMBER}">방번호</td>
            <td th:text="${reservation.ROOM_NAME}">방종류</td>
            <td><a type="button" class="w-30 btn btn-lg btn-outline-primary" th:href="@{/reservation/read(RV_ID=${reservation.RV_ID})}">예약변경</a></td>
            <td><a type="button" class="w-30 btn btn-lg btn-outline-secondary" th:href="@{/review/register(RV_ID=${reservation.RV_ID})}">리뷰쓰기</a></td>
        </tr>
        </tbody>
    </table>
</div>

</html>
