<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 변경하기</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../../css/test.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .w-100 {
            margin-bottom: 25px;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>예약 변경하기</h1>
    <form id="modifyForm" method="post"
    th:action="@{/reservation/modify{RV_ID}(RV_ID=${RV_ID})}">
        <div class="slideshow-container">
            <div class="slide fade">
                <img src="../../images/image1.jpg" alt="Hotel Image 1">
            </div>
            <div class="slide fade">
                <img src="../../images/image2.jpg" alt="Hotel Image 2">
            </div>
            <div class="slide fade">
                <img src="../../images/image3.jpg" alt="Hotel Image 3">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div class="date-picker">
            <div class="form-group">
                <input type="text" id="in_Dates" placeholder="check in date" name="inDates" readonly>
            </div>
            <div id="in_Calendar"></div>
            <div class="form-group">
                <input type="text" id="out_Dates" placeholder="check out date" name="outDates" readonly>
            </div>
            <div id="out_Calendar"></div>
        </div>
        <div class="form-group">
            <label for="guests">인원 선택</label>
            <input type="text" id="guests" name="guests">
        </div>
        <div class="room-card container">
            <div class="room-info row">
                <p th:text="${room_name}"></p>
                <div class="room-image col">
                    <img src="../../images/room.jpg" alt="스탠다드">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary roomBtn" value="STANDARD">STANDARD</button>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary roomBtn" value="VIP">VIP</button>
                        </div>
                        <div class="col">
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary roomBtn" value="DELUXE">DELUXE</button>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary roomBtn" value="VVIP">VVIP</button>
                        </div>
                        <div class="col">
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary roomBtn" value="SUPERIOR">SUPERIOR</button>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary roomBtn" value="SUITE">SUITE</button>
                        </div>
                    </div>
                    <span class="ROOM_PRICE">
                    <p>체크인 15:00 ~ 체크아웃 12:00</p>
                    <p><strong class="cost"> 가격이 왜 안나올까요? </strong></p>
                </span>
                    <span>
                    <span>호실 선택하기</span>
                    <select name="RV_ROOM_NUMBER" id="roomnumber">
                        <option value="">선택하세요</option>
                        <th:block th:each="room : ${rooms}">
                            <option th:value="${room.ROOM_ID}" th:text="${room.ROOM_ID + '호'}"></option>
                        </th:block>
                    </select>
                </span>

                </div>


            </div>
        </div>
        <button class="submitBtn">수정하기</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../../js/scripts.js"></script>
<script src="../../js/connect.js"></script>
</body>

<script>

    let roombtn = document.getElementsByClassName("roomBtn")
    for(let i = 0; i<roombtn.length ; i++){
        roombtn[i].addEventListener("click", function (e) {
            e.preventDefault();
            e.stopPropagation();

            let room = e.target.value

            console.log(room)

            roomchoice(room).then(data=> {
                console.log(data)
                let roomnumber = document.getElementById("roomnumber")
                let line =`<option value="">선택하세요</option>`

                for(let j=0 ; j<data.length ; j++){
                    line += `<option value="${data[j].room_ID}">${data[j].room_ID + '호'}</option>`
                }

                roomnumber.innerHTML = line

                let cost = document.querySelector(".cost")
                console.log(cost)
                cost.text=`${data[0].room_PRICE}원/1박`
            })

        }, false);
    }

    // 가격 안뜨는 문제 고쳐야함(register도 같이)
    // 여기서 선택한 방의 이름이 roomDTO.ROOM_NAME에 들어가도록 하는방법 ?
    // 금액 포맷팅하는법 알아보기
    // css 손보기
    // 가능하다면 총 금액 계산가능하게 만들기

    document.querySelector(".submitBtn").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        document.querySelector("form").submit();
    }, false);
</script>

</html>