<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<div id="container" layout:fragment="content">
    <link rel="stylesheet" href="/css/photo.css">
    <div class="container">
        <div class="photo-gallery">
            <div class="main-photo" onclick="showLargeImage()">
                <img src="/img/프레지덴셜%20스위트룸.jpg " alt="Main Photo">
            </div>
            <div class="overlay" id="overlay" onclick="hideLargeImage()">
                <img src="/img/프레지덴셜%20스위트룸.jpg" alt="큰 이미지" class="largeImg">
            </div>
            <div class="other-photos">
                <div class="photo">
                    <img src="/img/프레지덴셜%20스위트룸1.jpg" alt="Photo 1">
                </div>
                <div class="photo">
                    <img src="/img/프레지덴셜%20스위트룸2.jpg" alt="Photo 2">
                </div>
                <div class="photo">
                    <img src="/img/프레지덴셜%20스위트룸3.jpg" alt="Photo 3">
                </div>
                <div class="photo">
                    <img src="/img/프레지덴셜%20스위트룸4.jpg" alt="Photo 4">
                </div>
            </div>
        </div>
        <div class="property-info">
            <div class="info-left">
<!--                <div class="listed-by section">-->
<!--                    <div class="host-photo"></div>-->
<!--                    <div class="host-info">-->
<!--                        <p>등록자: 양호동</p>-->
<!--                        <p>가격: 150,000 원</p>-->
<!--                    </div>-->
<!--                </div>-->
                <div class  ="amenities section">
                    <h3>제공되는 편의 시설</h3>
                    <ul>
                        <li>★주방</li>
                        <li>에어컨</li>
                        <li>세탁기</li>
                        <li>넷플릭스가 있는 TV</li>
                        <li>무료 무선 인터넷</li>
                        <li>발코니 또는 파티오</li>
                    </ul>
                </div>
                <div class="services section">
                    <h3>주요 서비스</h3>
                    <ul>
                        <li>매일 청소하는 구간</li>
                        <li>설거지 도착 예약함</li>
                        <li>침체 받기 설쳐</li>
                        <li>화곡구개 대흥리세</li>
                    </ul>
                </div>
            </div>
            <div class="info-right">
                <div class="price section">
                    <h3>프레지덴셜 스위트룸</h3>
                    <p>150,000 원</p>
                    <p>보기 서비스: 35,000원</p>
                    <p>프리미엄 서비스: 50,000원</p>
                    <button class="reserve-button">예약하기</button>
                    <div class="contact-options">
                        <button>숙소 문의</button>
                    </div>
                </div>
                <div class="reviews section">
                    <h3>후기</h3>
<!--                    <div class="ratings">-->
<!--                        <div class="rating">-->
<!--                            <span>편의 시설</span>-->
<!--                            <span>5.0</span>-->
<!--                        </div>-->
<!--                        <div class="rating">-->
<!--                            <span>의사소통</span>-->
<!--                            <span>5.0</span>-->
<!--                        </div>-->
<!--                        <div class="rating">-->
<!--                            <span>가격 대비 가치</span>-->
<!--                            <span>5.0</span>-->
<!--                        </div>-->
<!--                        <div class="rating">-->
<!--                            <span>위생</span>-->
<!--                            <span>5.0</span>-->
<!--                        </div>-->
<!--                        <div class="rating">-->
<!--                            <span>숙소 위치</span>-->
<!--                            <span>5.0</span>-->
<!--                        </div>-->
<!--                    </div>-->
                    <button class="show-reviews-button">후기 10개 모두 보기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
    let i = 0
    let imgList = ['프레지덴셜%20스위트룸.jpg','프레지덴셜%20스위트룸1.jpg','프레지덴셜%20스위트룸2.jpg','프레지덴셜%20스위트룸3.jpg','프레지덴셜%20스위트룸4.jpg']
    function showLargeImage() {
        document.getElementById('overlay').style.display = 'block';
    }

    function hideLargeImage() {
        // document.getElementById('overlay').style.display = 'none';
    }

    document.querySelector('.largeImg').addEventListener('click',function (e){
        let imgSrc = e.target
        imgSrc.src = '/img/'+imgList[i]
        if(i<imgList.length-1){
            i++
        }else{
            i=0
        }
        console.log(imgSrc)
    },false)
    overlay.addEventListener('click',function (e){
        if(e.target === this){
            overlay.style.display ='none';
        }
    });


    // const myModal = document.getElementById('myModal')
    // const myInput = document.getElementById('myInput')
    //
    // myModal.addEventListener('shown.bs.modal', () => {
    //     myInput.focus()
    // })
</script>
</html>