<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel_arcana.review.mapper.ReviewMapper">

    <resultMap id="ReviewResultMap" type="com.example.hotel_arcana.review.dto.ReviewDTO">
        <id property="RE_ID" column="RE_ID"/>
        <result property="RE_WRITER" column="RE_WRITER"/>
        <result property="RE_CONTENT" column="RE_CONTENT"/>
        <result property="N_DATE" column="N_DATE"/>
        <result property="RE_IMG" column="RE_IMG"/>
        <result property="RE_USER_ID" column="RE_USER_ID"/>
    </resultMap>

<!--    리뷰 목록-->
    <select id="selectAll" resultMap="ReviewResultMap">
        SELECT RE_ID, RE_WRITER, RE_CONTENT, RE_DATE, RE_IMG, RE_USER_ID FROM hotel_review ORDER BY RE_DATE DESC
    </select>

<!--    리뷰 작성-->
    <insert id="insert" parameterType="com.example.hotel_arcana.review.dto.ReviewDTO">
        INSERT INTO hotel_review (RE_WRITER, RE_CONTENT, RE_IMG, RE_USER_ID)
        VALUES (#{RE_WRITER}, #{RE_CONTENT}, #{RE_IMG}, #{RE_USER_ID})
    </insert>

    <delete id="delete" parameterType="long">
        DELETE FROM hotel_review WHERE RE_ID = #{RE_ID}
    </delete>

</mapper>