<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hotel_arcana.reservation.mapper.ReservationMapper">

    <select id="selectAll" resultType="com.example.hotel_arcana.reservation.dto.ReservationDTO">
        SELECT * FROM reservation order by RV_ID desc
    </select>

    <select id="selectOne" resultType="com.example.hotel_arcana.reservation.dto.ReservationDTO">
        select * from reservation WHERE RV_ID = #{RV_ID}
    </select>

    <insert id="insert">
        insert into reservation (START_DATE,END_DATE,TOTAL_NUM,RV_ROOM_NUMBER)
        VALUES (#{START_DATE},#{END_DATE},#{TOTAL_NUM},#{RV_ROOM_NUMBER})
    </insert>

    <delete id="delete">
        delete from reservation where id = #{RV_ID}
    </delete>

    <update id="update">
        update reservation set START_DATE=#{START_DATE}, END_DATE=#{END_DATE}, TOTAL_NUM=#{TOTAL_NUM}, RV_ROOM_NUMBER=#{RV_ROOM_NUMBER}
        WHERE RV_ID = #{RV_ID}
    </update>

    <select id="getRooms" resultType="com.example.hotel_arcana.room.dto.RoomDTO">
        select * from room order by ROOM_ID desc
    </select>
</mapper>