<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hotel_arcana.reservation.mapper.ReservationMapper">

    <select id="selectAll" resultType="com.example.hotel_arcana.reservation.dto.ReservationDTO">

        select res.RV_ID, res.START_DATE, res.END_DATE, res.TOTAL_NUM, res.RV_USER_ID, res.RV_ROOM_NUMBER, r.ROOM_NAME
        from reservation res
                 JOIN room r ON res.RV_ROOM_NUMBER = r.ROOM_ID

                order by RV_ID desc
    </select>

    <select id="selectOne" resultType="com.example.hotel_arcana.reservation.dto.ReservationDTO">
        select * from reservation res JOIN room r ON res.RV_ROOM_NUMBER = r.ROOM_ID WHERE RV_ID = #{RV_ID}
    </select>

    <insert id="insert">
        insert into reservation (START_DATE,END_DATE,TOTAL_NUM,RV_ROOM_NUMBER,RV_USER_ID)
        VALUES (#{START_DATE},#{END_DATE},#{TOTAL_NUM},#{RV_ROOM_NUMBER},#{RV_USER_ID})
    </insert>

    <delete id="delete">
        delete from reservation where RV_ID = #{RV_ID}
    </delete>

    <update id="update">
        update reservation set START_DATE=#{START_DATE}, END_DATE=#{END_DATE}, TOTAL_NUM=#{TOTAL_NUM}, RV_ROOM_NUMBER=#{RV_ROOM_NUMBER}
        WHERE RV_ID = #{RV_ID}
    </update>

    <select id="getRooms" resultType="com.example.hotel_arcana.room.dto.RoomDTO">
        select * from room where ROOM_NAME = #{roomName} order by ROOM_ID desc
    </select>


    <select id="getRoom" resultType="com.example.hotel_arcana.room.dto.RoomDTO">
        select * from room where ROOM_ID = #{ROOM_ID} order by ROOM_ID desc
    </select>

    <select id="getRoomInfo" resultType="com.example.hotel_arcana.room.dto.RoomDTO">
        select * from room where ROOM_ID in (select MIN(ROOM_ID) from room group by ROOM_NAME)
    </select>

    <select id="getTotalReservationCount" resultType="int">
        SELECT COUNT(*) FROM reservation
    </select>
</mapper>